	
/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
	/*vertical-align: baseline;
}
*/


a.categoryLink, 
a.categoryLink:visited{
    color:#FFFFFF;
    font-family:Arial,Helvetica,sans-serif;
    font-size:15px;
    font-weight:normal;
    font-variant:small-caps;
    letter-spacing:2px;
    text-decoration:none;
}

a.categoryLink:hover{
  color:#FFFFAA;
  text-decoration:underline;
}

a.currentPage{
	text-decoration: none;
}

a.h1Link{
	text-decoration: none;
}
a.red, 
a.red:link,
a.red:hover,
a.red:visited{
 font-weight:normal;
}

a.sideMenuLink:link,
a.sideMenuLink:visited{
	color: #fff;
	font-family: Arial,Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-variant: small-caps;
	text-decoration: none;
	
}
a.sideMenuLink:hover{
	color:#FFA;
}

.contactLink,.contactLink:link,.contactLink:visited{
	color: white;
	font-family: serif;
	font-size:18px;
	text-decoration: none;
	vertical-align: top;
}

.contactLink:hover{
	color:#FFFFAA;
}

body{
 font-family:arial, helvetica, sans serif;
 z-index: 5;
}

#babyMenu,
#giftMenu{
 background-color:#8F8BAD;
}


#babyCatLinks,
#babyCatLinks ul.dropdown li,
#babyCatLinks ul.dropdown li ul.dropdown,
#giftCatLinks,
#giftCatLinks ul.dropdown li,
#giftCatLinks ul.dropdown li ul.dropdown{
 background-color:#336;
}

#babyDropdownLI,
#giftDropdownLI{
 background-color:#336;
}

#babyDropdownLI:hover{

}

#babySilverHead{
  text-align:left;
  width:100%;
}

#babySilverImage,
#giftImage{
  background: url("/images/t_baby_main.jpg") no-repeat scroll -275px 0 transparent;
}

#babySilverMainContent{
  width:100%
}
#babySideMenu,
#babySilverPageHead,
#giftPageHead{
  background-color:#8F8BAD; 
}

#babySilverH1,
#giftH1{
  color: #333366;
}

#babyH1Container,
#babyH2,
#giftH1Container,
#giftH2,
.bottomBorderBlue{
  border-bottom: 1px solid #898BAD;
}


.bottomBorder{
	border-bottom: 1px solid white;
}

#babyTitleContainer{
  border-bottom: 1px solid #898BAD;
}

.bgBaby,
.bgGift{
  background-color:#dedeff;
}

.bgChristmas{
 background-color:#dfd;
}

.bgCollectibles,
.bgFlatware,
.bgManufacturer,
.bgServingPieces{
 background-color:#fed;
}

.bgCleaning,
.bgDefault,
.bgHollowware,
.bgSearch,
.bgStorage
{
 background-color:#fdd;
}

.bgJewelry{
 background-color:#69C;
}

body{
 line-height:1em;
}

.bold{
 font-weight:bold;
}

.bottomAlign{
	vertical-align: bottom;
}
button{
	cursor: pointer;
}
button.viewCart{
    background-image: -moz-linear-gradient(center top , #EEEEEE 5%, #BBBBBB 25%, #555555 87%);
    background-image: linear-gradient(center top , #EEEEEE 5%, #BBBBBB 25%, #555555 87%);
    background-image: -webkit-linear-gradient(center top , #EEEEEE 5%, #BBBBBB 25%, #555555 87%);
    background-image: -ms-linear-gradient(center top , #EEEEEE 5%, #BBBBBB 25%, #555555 87%);
    background-image: -o-linear-gradient(center top , #EEEEEE 5%, #BBBBBB 25%, #555555 87%);
    
    border: 1px solid #333333;
    border-radius: 2px 2px 2px 2px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    height: 34px;
    margin: 0;
    min-width: 193px;
    opacity: 0.85;
    padding-right: 30px;
    text-shadow: 0 1px 0 #555555;
    vertical-align: baseline;
}
/*
button.viewCart{
	border: 0 none;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    font-size: 18px;
    text-shadow: 0 1px 0 #DDDDDD;
    vertical-align: top;
    width: auto;
}
*/

div#itemCount{
    color: yellow;
    display: inline;
    font-family: arial,helvetica,sans-serif;
    font-size: 18px;
    left: 2px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 2px;
    width: 100%;
    z-index: 10;
}
button.cartButton{
	background-image: -moz-linear-gradient(center top , #CFCFCF 9%, #999999 57%, #666666 100%);
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    cursor: pointer;
    font-size: 15px;
    height: 40px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-shadow: 0 1px 0 #AAAAAA;
    vertical-align: middle;
    width: 150px;
	
}
button,
.searchResultAddButton{

background-image: linear-gradient(bottom, rgb(210,210,210) 25%, rgb(220,220,220) 50%, rgb(240,240,240) 100%);
background-image: -o-linear-gradient(bottom, rgb(210,210,210) 25%, rgb(220,220,220) 50%, rgb(240,240,240) 100%);
background-image: -moz-linear-gradient(bottom, rgb(210,210,210) 25%, rgb(220,220,220) 50%, rgb(240,240,240) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(210,210,210) 25%, rgb(220,220,220) 50%, rgb(240,240,240) 100%);
background-image: -ms-linear-gradient(bottom, rgb(210,210,210) 25%, rgb(220,220,220) 50%, rgb(240,240,240) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.25, rgb(210,210,210)),
	color-stop(0.5, rgb(220,220,220)),
	color-stop(1, rgb(240,240,240))
);

cursor: pointer;

}

#cartContainer{
 display:inline-block;
 left:70%;
 position:absolute;
 text-align: left;
 top:0px;
 width:auto;
 z-index:10;
}


div#defaultMobileHead{
	
}

div#blueMobileHead{
	
}

div#greenMobileHead{
	
}


div#tanMobileHead{
	
}

/*
					"cp"=>"defaultMobileHead",
					"h"=>"defaultMobileHead",
					"f"=>"tanMobileHead",
					"fcs"=>"tanMobileHead",
					"j"=>"blueMobileHead",
					"sp"=>"tanMobileHead",
					"xm"=>"greenMobileHead"
*/

.categoryLinksContainer,
.categoryLinksContainerMainPage{
	border-bottom: 1px solid #000;
	box-shadow: 0px 7px 10px #CCC;
    height:auto;
    position:relative;
    padding-top:2px;
    width:100%;
    z-index: 15;
}

.categoryLinksContainerMainPage{
	background-color: white;
	border-bottom: 1px solid #aaa;
	box-shadow: none;
	font-family: serif;
	font-size: 18px;
	line-height: 1em;
}
.categoryLinksContainerSub{
 width:auto;
}

.categoryLink{
  float: left;
  min-width: 120px;
  text-align: center;  
  width: auto;
}

#categoryMainContentSub{
	display: inline-block;
    left: 0px;
    margin-left: 20px;
    max-width: 740px;
    position: relative;
    width: 100%;
}

.cell{
    display: inline-block;
    height: auto;
    margin: 0;
    min-width: 90px;
    padding: 0;
    position: relative;
    vertical-align: top;
    width: 100%;
}

.centered{
 text-align:center;
}


#christmasCatLinks,
#christmasCatLinks ul.dropdown li,
#christmasCatLinks ul.dropdown li ul.dropdown,
#christmasPageHead{	
	background-color:#779675;
}

#christmasH1{
	color: #004e17;
	
}
#christmasH1Container,
#christmasH2,
.bottomBorderGreen{
	border-bottom:1px solid #004214;
}
#christmasImage{
 background: url("/images/t_xmas_main_alt.jpg") no-repeat scroll -275px 0 transparent;
}

#cleaningH1,
#defaultH1,
#hollowwareH1,
#storageH1
{
 color:#7A121B;
}

#collectiblesCatLinks ul.dropdown ul li a:hover,
#flatwareCatlinks ul.dropdown ul li a:hover,
#servingCatLinks ul.dropdown ul li a:hover{

 /*background-color:#C96;*/
}

#collectiblesCatLinks,
#collectiblesCatLinks ul.dropdown li,
#collectiblesCatLinks ul.dropdown li ul.dropdown,
#flatwareCatLinks,
#flatwareCatLinks ul.dropdown li,
#flatwareCatLinks ul.dropdown li ul.dropdown,
#servingCatLinks,
#servingCatLinks ul.dropdown li,
#servingCatLinks ul.dropdown li ul.dropdown{
 background-color:#6A2A00;
}

#collectiblesH1,
#flatwareH1,
#servingH1{
 color:#6A2A00;
}

#collectiblesH1Container,
#collectiblesH2,
#flatwareH1Container,
#flatwareH2,
#servingH1Container,
#servingH2,
.bottomBorderTan{
 border-bottom:1px solid #C96;
}

#collectiblesImage{
 background: url("/images/t_collectibles_alt.jpg") no-repeat scroll -275px 0 transparent;
}

#collectiblesPageHead,
#collectiblesSideMenu,
#flatwarePageHead,
#flatwareSideMenu,
#servingPageHead{
 background-color:#CC9966;
}

#contactInfo{
 color: white;
 display:inline-block;
 font-family: serif;
 font-size: 18px;
 left:5%;
 line-height: 1em;
 position:absolute;
 text-align: left;
 top:10px;
 vertical-align: top;
 z-index:10; 
}

#contactLink,
#contactLinkHome{
	display:none;
}
#container{
  height:100%;
  width:100%;
}
.dimInfo{
 font-family:sans serif;
 font-size:12px;
}
div.cartImageContainer{
    display: inline;
    line-height: 1em;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
}

div#flatwareSideMenu a.sideMenuLink,
div#flatwareSideMenu a.sideMenuLink:visited{
	color: #553300;
	font-size: 15px;
    text-shadow: 0 1px 0 tan;
}


div#hollowwareSideMenu a.sideMenuLink,
div#hollowwaresideMenu a.sideMenuLink:visited{
	color: #442200;
	font-size: 15px;
    text-shadow: 0 1px 0 #AA8888;
}


div#hollowwareSideMenu a.sideMenuLink:hover,
div#flatwareSideMenu a.sideMenuLink:hover,
div#jewelrySideMenu a.sideMenuLink:hover,
div#babySideMenu a.sideMenuLink:hover{
	color:#fdf9a8; 
	text-shadow: none;
}

div#jewelrySideMenu a.sideMenuLink,
div#jewelrySideMenu a.sideMenuLink:visited,
div#babySideMenu a.sideMenuLink,
div#babySideMenu a.sideMenuLink:visited{
	color: #003571;
	font-size:15px;
	text-shadow: 0px 1px 0px #afafbb;
}



div.indexBannerImage{
	background-image: url("/images/window.jpg");
}

div#SEODescription{
	position: relative;
	left: 0px;
	padding: 10px; 
	font-size: 14px; 
	color: darkRed; 
	border: 1px solid rgb(170, 170, 170); 
	text-align: justify; top: 75px;
}

.featuredItemDescription{	
	font-size:15px;
}
.featuredItemName{
	font-size: 18px;
	
}

.featuredItemHeader{
	font-size:24px;
	font-family: 'Times New Roman',Times,Palatino,serif;
}

#flatwareImage,
#servingImage{
 background:url("/images/t_flat_main_alt.jpg") no-repeat scroll -275px 0 transparent;
}

.flatwareSideMenuLink{
	text-shadow: 0 1px 2px #894B24;
}

#footer{
 display: block;
 position:relative;
 border-top:1px solid #8F8BAD;
 margin: 0 auto;
 text-align: center;
 width:100%;
  
}



#jewelryCatLinks ul.dropdown ul li a:hover{
  background-color:rgb(53,41,152);
}

#cleaningCatLinks ul.dropdown ul li a:hover,
#defaultCatLinks ul.dropdown ul li a:hover,
#hollowwareCatLinks ul.dropdown ul li a:hover{
  background-color:#A27177;
}

#cleaningCatLinks,
#cleaningCatLinks ul.dropdown li,
#cleaningCatlinks ul.dropdown li ul.dropdown,
#defaultCatLinks,
#defaultCatLinks ul.dropdown li, 
#defaultCatLinks ul.dropdown li ul.dropdown,
#hollowwareCatLinks,
#hollowwareCatLinks ul.dropdown li, 
#hollowwareCatLinks ul.dropdown li ul.dropdown,
#storageCatLinks,
#storageCatLinks ul.dropdown li,
#storageCatLinks ul.dropdown li ul.dropdown{
 background-color:#7A121B;
}


#cleaningH1Container,
#defaultH1Container,
#hollowwareH1Container,
#hollowwareH2,
#defaultH2,
#storageH1Container,
.bottomBorderDefault,
.bottomBorderRed{
  border-bottom: 1px solid #A27177;
}


#cleaningImage,
#defaultImage,
#hollowwareImage,
#storageImage{
 background:url("/images/t_hol_main_alt.jpg") no-repeat scroll -275px 0 transparent;
}


#cleaningPageHead,
#defaultPageHead,
#hollowwarePageHead,
#storagePageHead{
 background-color:#A27178;
}

.handleImageHeader{
 border:0px solid transparent;
 padding:5px 0px;
 text-align:middle;
}

H1{
	margin-bottom: 2px;
	padding-bottom: 0px;
	line-height: 1em;
}

H1.h1PageCatTitle{
	display: inline-block;
	float: left;
    font-family:serif;
    font-size: 32px;
    font-style: italic;
    font-weight: normal;
    line-height: 1em;
    margin: 0;
    padding-right:15px;
    position: relative;
    top: 14px;
    z-index: 10;
}


H2.h2BreadCrumb,
H2.h2BreadCrumb a{
	display: inline;
    float: left;
    font-family: serif;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    text-decoration: none;
    top: 11px;
}

.h2PatternLink{
	line-height: 1em;
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	}
	.h2PatternLink a{
		text-decoration: none;

	}

.h2PatternHeader{
 color:white; 
 font-family:arial, helvetica, sans serif;
 font-size:18px;
 font-weight:normal;
 letter-spacing:4px;
 line-height:1em;
 padding:5px;
 width:100%;
}

.h2PatternHeader a{
 color:white;
 text-decoration: none;
}

.h2PatternHeader a:link{
 color:white;
}

.h2PatternHeader a:visited{
 color:white;
}

#h2PatternHeaderFlatware{
 background-color:#C96;
}
#h2PatternHeaderDefault{
	background-color: #A27178;
	box-shadow: 0px 3px 4px #ddd;
}

H3{
background-color: transparent;	
line-height: 1em;
padding: 0px;
}

.h3ItemDescription{
    background: none repeat scroll 0 0 transparent;
    font-family: inherit;
    font-size: 15px;
    font-weight: normal;
    height: 15px;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

h4{
 line-height:1em;
 margin:0px;
 padding:0px;
 width:auto;
}

.handleImageHeader{
	width:100%;
	max-width: 350px;
	padding: 0px;
	line-height: 1em;
	
}


#hollowLinkDiv{
}
#hollowwareSideMenu{
	background-color: #A27177;
}
img{
	/*width: 100%;
	min-width: 80px;*/
}
img.currentImage{
	  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

  /* IE 5-7 */
  filter: alpha(opacity=100);

  /* Netscape */
  -moz-opacity: 1;

  /* Safari 1.x */
  -webkit-opacity: 1;

  /* Good browsers */
  opacity: 1;
}

img.notCurrent{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter:alpha(opacity=75);
	-moz-opacity: .75;
	-webkit-opacity: .75;
	opacity:.75;
	
}
img.pageBanner{
 width:100%;
 max-width:760px;
 padding:0px;
 line-height:1em;
 margin:0px;
 vertical-align: middle;
}
img.itemImageMain{
	max-width: 250px;
	width: 100%;
}
img.productThumbnail{
 height:auto;
 max-height:100px;
 max-width:100px;
 width:100%;
 
}

input[button]{
	cursor: pointer;
}
ul.dropdown li.transparentBG{
	background-color: transparent;
}

ul.dropdown li.transparentBG a.homepageLink,
ul.dropdown li.tranpsarentBG a.homepageLink:visited{
	color: #79121B;
	font-family: serif;
	font-size:19px;
}

ul.dropdown li.transparentBG a.homepageLink:hover{
	color:#C99;
}

.imgCaption{font-size:10px;}

H2.itemTitle,
H3.itemName{
    background: none repeat scroll 0 0 transparent;
    font-family: inherit;
    font-size: 17px;
    font-weight: normal;
    height: auto;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.itemPrice{
 font-size:18px;
}

.itemQty{
 font-size:15px;
}

#jewelryCatLinks,
#jewelryCatLinks ul.dropdown li{
	background-color: #1F118C;
}

#jewelrySideMenu,
#babyCatLinks ul.dropdown li ul.dropdown{
 background-color:#69C;
}

#jewelryH1 a.h1Link,
#jewelryH1 a.h1Link:visited{
  color:#315F8D;
}

#jewelryH1Container,
#jewelryH2{
 border-bottom:1px solid #69C;
}

#jewelryImage{
 background: url("/images/t_jew_main_alt.jpg") no-repeat scroll -275px 0 transparent;
}

#jewelryPageHead{
 background-color:#8F8BAE;
}

img.pageHeaderImage{ 
	width: 100%;	
}

#silverCareImage{
 url("/images/t_caring_main_alt.jpg") no-repeat scroll -275px 0 transparent;
}

#smallCartContainer{
 display:inline;
 position:relative;
 top:10px;
}

#viewMoreItems{
    font-size: 15px;
    position: relative;
    text-align: left;
    width: 100%;
}


.leftAlign{
 text-align:left;
}

li.babyDropdownLI a.red:hover{
 background-color:#8F8BAD;
}

li.hollowwareDropdownLI a.red:hover,
li.defaultDropdownLI a.red:hover{
 background-color:#FCC;
}



li.collectiblesDropdownLI a.red:hover,
li.flatwareDropdownLI a.red:hover{
 /*this one actually affects the dropdown background color */
 background-color:#C96;
}


/*
li.collectiblesDropdownLI a.red,
li.flatwareDropddownLI a.red,
li.collectiblesDropdownLI a.red:hover,
li.flatwareDropdownLI a.red:hover{
 /*this one actually affects the dropdown background color 
 background-color:#6A2A00;
}
*/


.mainContent,
.mainContentIndex{
    /*border-top: 1px solid black;*/
    background-color: #fdfdfd;
    background-image: url("/images/noise-1.png");
    display: block;
    height: auto;
    margin: 0;
    min-height: 600px;
    padding: 0;
    position: relative;
    width: 100%;
}

.mainContentIndex{
  min-height:300px;
}
.mainContentHead,
.mainContentHeadCatPage{
/*background-image: url("http://www.asyoulikeitsilvershop.com/images/noise-1.png");*/
 display:inline-block;
 height:40px;
 left:0px;
 line-height:1em;
 margin:0px;
 padding:0px;
 position:relative;
 top:0px;
 max-width:960px;
 width:100%;
}

#mainFeaturedImage{
	max-height: 286px;
	height: auto;
	min-width: 80px;
	max-width: 250px;
}
.middleAlign{
	vertical-align: middle;
}


div#purpleMobileHead{
	
}

div#blueMobileHead{
	
}

#mobilePageHead,
div#defaultMobileHead,
div#mobilePageHeader,
div#mobilePageHeader H1{
	color:white;
	/*color: #442222;*/
	display: none;
    font-family: serif;
    font-size: 31px;
    font-style: italic;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1em;
    text-shadow: 0px 1px 0px black
    /*text-shadow: 0 1px 0 #AA8888;*/
}

div#tanMobileHead{
	
}

.otherLink,
.starContainer{
    border: 0 solid transparent;
    display: inline-block;
    height: auto;
    margin: 0;
    padding: 1px 10px;
    position: relative;
    vertical-align: middle;
 }



.starContainer,
.otherLink a{
    color: #FAFBAB;
    font-family: arial,helvetica,sans-serif;
    font-size: 16px;
    font-variant: small-caps;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 1em;
    margin: 0;
    text-decoration: none;
}

.starContainer{
    margin-top: 5px;
    min-width: 20px;
    text-align: center;
    width: 20px;
}
.oneColumn{
 width:6.25%;
}
.twoColumns{
 width:12.5%;
}
.threeColumns{
 width:18.75%;
} 
.fourColumns{
 width:25%;
}
.fiveColumns{
 width:31.25%;
}
.sixColumns{
 width:37.5%;
}
.sevenColumns{
 width:43.75%;
}
.eightColumns{
 width:50%;
}
.nineColumns{
 width:56.25%;
}
.tenColumns{
 width:62.5%;
}
.elevenColumns{
 width:68.75%;
}
.twelveColumns{
 width:75%;
}


.thirteenColumns{
 width:81.25%;
}
.fourteenColumns{
 width:86.5%;
}
.fifteenColumns{
 width:93.75%;
}
.sixteenColumns{
 width:100%;
}

.otherLink a:hover{
 color:rgb(187,134,139);
}

#otherLinksContainer{
 background-color:black;
 height:auto;
 width:100%;
}

#otherLinksSub{
 position:relative;
}

.verticalPad5px{
	padding: 5px 0px;
}

.pageCatImage{
    display: inline-block;
    float: right;
    height: 40px;
    line-height:1em;
    overflow: hidden;
    position: relative;
    top: 0px;
    width: 485px;
}

.pageHead{
	background-image: url("http://www.asyoulikeitsilvershop.com/images/noise-1.png");
	display:block;
	height:auto;
	width:100%;
}

div.patternHead{
box-shadow: 0 3px 4px #CCCCCC;
 height:23px;
 padding: 5px 0 2px 8px;
 width:100%;
}

.patternName{
    font-size: 20px;
    font-weight: normal;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.rightAlign{
	text-align:right;
}

.row{
	display:block;
	height:auto;
	max-width: 960px;
	padding:10px 0px;  
	position:relative;
	width:100%
}

span#mobileDescription{
	font-style: normal;
	display: none;
	font-size:12px;
}

.searchArrowDiv{
 height:20px;
 width:929px;
}

.searchField{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    
	/*background-image: linear-gradient(bottom, #FFF 2%, #FEFEFE 84%, #DDD 100%);
	background-image: -o-linear-gradient(bottom,  #FFF 2%, #FEFEFE 84%, #DDD 100%);
	background-image: -moz-linear-gradient(center bottom,  #FFF 2%, #FEFEFE 84%, #DDD 100%);
	background-image: -webkit-linear-gradient(bottom, #FFF 2%, #FEFEFE 84%, #DDD 100%);
	background-image: -ms-linear-gradient(bottom,  #FFF 2%, #FEFEFE 84%, #DDD 100%);

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.2, #FFF),
	color-stop(0.84, #FEFEFE),
	color-stop(1, #DDD)
	);
	*/
	background-color:white;
    border-color: #AAAAAA;
    border-radius: 0px;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    color: #999;
    font-family: inherit;
    font-size: 13px;
    font-style: italic;
    font-weight: lighter;
    height: 25px;
    margin: 0;
    max-height: 25px;
    max-width: 275px;
    min-width: 275px;
    padding-left: 5px;
    width: 100%;
}

#searchLink{
	line-height: 1em;
    margin: 0;
    padding: 0;
}
#searchPageNavs{
	font-size:15px;
}
.searchResultAdd{
 left:820px;
 width:100px;
}
.searchButton,
.searchResultAddButton{
  border:1px solid #aaa;
  font-size:15px;
  height:25px;
  padding:0px;
  width:100px; 
}

.searchButton{
	height:27px;
    position: absolute;
    text-align: center;
	width:45px;
}

#searchFieldSpan{
	display: inline-block;
}
.searchResultAddQty,
.staticItemAddQty{
 border:1px solid #aaa;
 padding:0px 5px;
 width:25px;
}
.searchResultDimInfo{
 font-family:sans serif;
}

.searchResults{
 left:20px;
 position:relative;
 max-width:940px;
 height:auto;
 margin-left:0px;
 width:90%;
}
.searchResultsH2{
    font-family: times,serif;
    font-size: 25px;
    font-style: italic;
    font-weight: normal;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.searchResultsH3{
 background-color:transparent;
 padding:0px;
}

.searchResultRow,
.searchResultRowGrid{
 display:inline-block;
 height:auto;
 height:150px;
 width:929px;
}

.searchResultRowGrid{
 height:300px;
}

.searchResultAdd,
.searchResultImage,
.searchResultItemName,
.searchResultPattern,
.searchResultBrand,
.searchResultPrice,
.searchResultQuantity,
.searchResultFieldCenterAlign{
 display:inline;
 line-height:1em;
 position:absolute;
 width:auto;
}

.searchResultImage{
 width:120px;
 text-align:center;
 margin:0 auto;
 left:10px;
}
.searchResultImgContainer{
 height:150px;
}
.searchResultDimInfo{
 height:110px;
}
.searchResultItemContainer{
 display:inline;
 position:relative;
 width:210px;
 height:300px;
 float:left;
 margin:10px;
}
.searchResultItemName{
  left:135px;
  width:250px;
}

.searchResultFieldCenterAlign{
 text-align:center;
}
.searchResultPattern{
 left:400px;
 width:200px;
}

.searchResultBrand{
 left:620px;
 width:100px;
}

.searchResultPrice{
  text-align:center;
  left:730px;
  width:50px;
}

.searchResultQuantity{
  text-align:center;
  left:790px;
  width:20px;
}
.searchResultsSub{
 border-bottom:1px solid #aaa;
 height:auto;
 line-height:1em;
 overflow-x:hidden;
 overflow-y:auto;
}

#searchResultsOverlay{
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* IE 5-7 */
  	filter: alpha(opacity=50);
	background-color: white;
	display: none;
    height: 100%;
    left: 0;
    margin: 0 auto;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
}
select,
select.searchSort{
 border:1px solid #aaa;
 font-family:arial, helvetica, sans serif;
 font-size: 15px;
 line-height:1em;
 max-width:150px;
 min-width: 100px;
 padding:0px;
 text-align:left;
 width:100%;
}

span.viewCartCaption{
    display: inline-block;
    height: 23px;
    vertical-align: middle;
}

.spacer{
 display:inline-block;
 padding:0px 0px 10px 0px;
 margin:0px;
 width:auto;
 min-width:98px;
}

.staticFieldLabel{
    display: inline;
    font-size: 18px;
    line-height:1em;
    width: 50px;
}

div#staticItemAdd{
    display: block;
    padding-bottom: 15px;
    position: relative;
    width: 100%;
}

.staticItemAddButton,
.staticItemAddQty{
  border: 1px solid #AAAAAA;
  font-size: 16px;
  padding: 0 5px;
  text-align:center;
  width: 100px;
}

.staticItemAddQty{
 height:22px;
 text-align:center;
 width:78px
}

#staticItemCategoryLinks{
 display:block;
 position:relative;
 width:auto;
}

#staticItemImage{
 left:170px;
 position:relative;
 display:block;
 height:350px;
 width:300px;
}

.staticItemCatLink{
 display:inline;
 position:relative;
 float:left;
 text-align:center;
 width:225px;
}

.staticItemCatLinkSEO{
 display:block;
 position: relative;
 width:auto;
}


.staticItemContainer{
 display:block;
 width:929px;
 height:360px;
 position:relative;
 top:20px;
}

#staticItemDescription{
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    line-height: 20px;
    margin:10px 0px;
    position: relative;
    text-align:justify;
    width: 100%;
}

#staticItemDetails{
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  display:inline;
  left:450px;
  position:absolute;
  top:0px; 
  width:450px;
}

#staticItemDimensions{
 font-size:15px;
 font-weight:normal;
 margin:5px 0px;
}

#staticItemName{
 padding:10px 0px;
 position:relative;
 width:auto;
}

#staticItemPrice{
 display:block;
 font-size:20px;
 position:relative;
 text-align:left;
 width:auto;
}

#staticItemQty{
    display: inline;
    font-size: 18px;
    position: relative;
    text-align: center;
    width: 50px;
}

div#staticItemShareLinks{ 
    display: block;
    left:0px;
    position: relative;
    top:0px;
  
}

div.suggestedItemContainer{
    display: inline-block;
    float: left;
    max-width: 225px;
    position: relative;
    text-align: center;
    width: 100%;
}


div#suggestedItems{
    border: 1px solid #8F8BAD;
    display: block;
    font-family: inherit;
    height: auto;
    left: 0;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 690px;
    overflow-y: auto;
    padding: 10px;
    position: relative;
    top: 0px;  
    text-align: center;
    width: auto;
}

div.sideMenu{
    font-size: 15px;
    left: 0px;
    padding: 5px 10px 2px 5px;
    position: relative;
    top: 0px;
    width: 180px;
}

.sideMenuContainer{
	background-image: url("/images/noise-1.png");
	box-shadow: 0px 1px 3px #888;
    display: inline-block;
    float: left;
    height: auto;
    left: 0;
    line-height: 1em;
    min-height: 400px;
    padding-top: 15px;
    position: relative;
    width: 200px;
}

.silverChest{
 border-width:0px;
 vertical-align:top; 
 margin:0px;
}


.tableHead{
 height:auto;
}

.titleContainer{
    display: inline-block;
    height: 100%;
    left: 0;
    line-height:1em;
    margin: 0;
    padding: 0 0 0 10px;
    position: absolute;
    top: 0;
    max-width: 950px;
    min-width: 349px;
    width:100%;
    z-index: 10;
}

.topAlign{
	vertical-align: top;
}
.transparent{
	background:transparent;
}
.twelvePixels{
 font-size:12px;
 height:12px;
 line-height:1em;
}

.twentyFourPx{
	font-size: 24px;
}

ul.dropdown li a.red:hover{
	color: yellow;
}

ul.sideMenuList{
	margin-left: 10px;
}

ul.sideMenuList li{
	width: 90%;
}

ul.dropdown li ul li{
	margin: 0px;
}


ul.dropdown li:hover > ul {
    visibility: hidden;
    }

    ul.dropdown li ul:hover{
	    visibility: hidden;
    }

/* THESE ARE MODIFIED CLASSES AND HAVE TO BE DEFINED AFTER EVERYTHING ELSE*/
.bottomPadFive{
	padding-bottom: 5px;
}

.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.fullWidth{
	max-width: 100%;
}
.last{
	margin-right: 0;
	
}
.noborder{
	border:none;
	
}	
.nopad{
	padding: 0px;
}
li.transparentBG{
	background-color:transparent;
	border-right: 0px;
}

ul.whiteBG{
	background-color: white;
}

